* {
	margin: 0;
	padding: 0;
}

body, html {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}


/*--------------------- Header-NavBar ------------------*/


header {

	font-size: 18px;
}

.navbar {
	justify-content: flex-end;
	background-color: aliceblue !important;
}

.navbar__profile {
	display: flex;
}

.navbar__profile--image {
	margin-right: 20px;
}

.navbar__profile--image img {
	height: 70px;
	border-radius: 50%;
}

.navbar__profile--name {
	align-self: center;
}


/* ------------------------------------------------------------- */



.result-header {
    display: flex;
    justify-content: center;
    margin: 0 0 50px 0;
}

.result-header h2 {
    font-size: 200%;
    font-weight: 600;
}

.table-container {
    display: flex;
}

.table-container .table {
    width: 100%;
    height: 100%;
}

table, th, td{
    border: 2px solid #28a745;
    border-collapse: collapse;
    text-align: center;
  }